{:output {:exclude-files [".clj-kondo/imports"]}
 :linters
 {:missing-docstring            {:level :off}
  :refer-all                    {:exclude [clojure.test
                                           clojure.core.logic]}
  :unresolved-symbol            {:exclude [(clojure.core.logic/run*)
                                           (clojure.core.logic/run)
                                           lvar]}
  :unsorted-required-namespaces {:level :warning}}
 :hooks {:analyze-call {aoc.util.memoize/letfn-mem hooks.aoc.util.memoize/letfn-mem}}}
