;; https://adventofcode.com/{{year}}/day/{{day}}
(ns aoc{{year}}.day{{day|number-format:%02d}}
  (:require
   [aoc.day :as d]
   [aoc.util.collection :as c]
   [aoc.util.debug :refer [dbg dbg-> dbg->>]]
   [aoc.util.grid :as g]
   [aoc.util.math :as m]
   [aoc.util.matrix :as mat]
   [aoc.util.pos :as p]
   [aoc.util.sparse-grid :as sg]
   [aoc.util.string :as s]
   [clojure.string :as str]))

(defn input [] (d/day-input {{year}} {{day}}))

(defn part1 [input])

(defn part2 [input])


(def t
  "")

(comment
  (part1 t)
  (part1 (input))

  (part2 t)
  (part2 (input))

  ;
  )
