(def answers (delay (day-answers {{year}} {{day}})))
(def input (delay (d/input)))

(deftest{{slow}} part1-correct
  (is (= (:answer1 @answers) (d/part1 @input))))

(deftest{{slow}} part2-correct
  (is (= (:answer2 @answers) (d/part2 @input))))
