/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.cpcache/
.calva/
.clj-kondo/.cache/
.clj-kondo/imports/
.clj-kondo/inline-configs/
.lsp/.cache
