#kaocha/v1
 {:tests [{:id :unit
           :source-paths ["src"]
           :test-paths ["test"]
           :ns-patterns ["-test$"]}
          {:id :2015 :test-paths ["test/aoc2015"]}
          {:id :2016 :test-paths ["test/aoc2016"]}
          {:id :2017 :test-paths ["test/aoc2017"]}
          {:id :2018 :test-paths ["test/aoc2018"]}
          {:id :2019 :test-paths ["test/aoc2019"]}
          {:id :intcode :test-paths ["test/aoc2019/intcode_test.clj"
                                     "test/aoc2019/day02_test.clj"
                                     "test/aoc2019/day05_test.clj"
                                     "test/aoc2019/day07_test.clj"
                                     "test/aoc2019/day09_test.clj"
                                     "test/aoc2019/day11_test.clj"
                                     "test/aoc2019/day13_test.clj"
                                     "test/aoc2019/day15_test.clj"
                                     "test/aoc2019/day17_test.clj"
                                     "test/aoc2019/day19_test.clj"
                                     "test/aoc2019/day21_test.clj"
                                     "test/aoc2019/day23_test.clj"]}
          {:id :2020 :test-paths ["test/aoc2020"]}
          {:id :2021 :test-paths ["test/aoc2021"]}
          {:id :2022 :test-paths ["test/aoc2022"]}
          {:id :2023 :test-paths ["test/aoc2023"]}
          {:id :2024 :test-paths ["test/aoc2024"]}
          {:id :2025 :test-paths ["test/aoc2025"]}]
  :plugins [:kaocha.plugin/print-invocations
            :kaocha-plugins.timing/report-slow]
  :capture-output? true
  :color? true}
